.productlist{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.product_section{
    width: 100%;
    background: #ffffff;
    height: 100%;
    flex: 1;
    overflow: auto;
}
.product_inp{
    width: 100%;
    height: 1.1rem;
    background: #FFFFFF;
    text-align: center;
    line-height: 1.1rem;
    box-shadow: inset 0 -1px 0 0 #EBEBEB;
}
.product_inp>input{
    width: 80%;
    font-size: .27rem;
    height: .68rem;
    border: none;
    padding-left: .1rem;
    background: #EEEEEE;
    border-radius: .48rem;
}

.product_footer{
    width: 100%;
    height: .88rem;
    background: #ffffff;
    display: flex;
    box-shadow: 0 -4px 6px 0 rgba(0,0,0,0.06);
}
.allChecked{
    flex: 4.8;
    height: .88rem;
    line-height: .88rem;
    font-size: .28rem;
    text-align: left;
    padding-left: .1rem;
}
.allChecked>span{
    font-family: PingFangSC-Regular;
    font-size: .28;
    color: #333333;
    padding-left: .17rem;
}
.product_footer>p:nth-child(2),.product_footer>p:nth-child(3){
    flex: 2.5;
    text-align: center;
    line-height: .88rem;
    font-size: .32rem;
}
.product_footer>p:nth-child(2){
    background: #ddd;
    color: #FFFFFF;
}
.product_footer>p:nth-child(3){
    background: #F2922F;
    color: #ffffff;
}