*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body,html{
    width: 100%;
    height: 100%;
}
.home{
    width: 100%;
    height: 100%;
    background: pink;
}